<md-dialog aria-label="Change Name Dialog">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Change name for player {{nameToChange }}</md-subheader>
    <div>
      <md-input-container><label>New name for player</label><input md-maxlength="30" required name="newname" ng-model="newname"></md-input-container>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
      Cancel
    </md-button>
    <md-button ng-click="answer(newname)" class="md-primary md-raised">
     Set name
    </md-button>
  </div>
  </form>
</md-dialog>